**/.terraform/*
*.tfstate
*.tfstate.*
*.backup
terraform.tfstate
.terraform.tfstate.lock.info
.terraform.lock.hcl
*tfplan*

*.tfvars
*.pem

# Ignore results of "helm dependency build"
# *.tgz
Chart.lock

# Ignore local values 
Azure/terraform/AKS/local
Azure/terraform/AKS/backend.tf

# Ignore results of baremetal/single_node.sh
single_node.sh.??????????????.log
single_node.sh.??????????????.out
baremetal/blueprints
