**/.terraform/*
*.tfstate
*.tfstate.*
*.backup
terraform.tfstate
.terraform.tfstate.lock.info
.terraform.lock.hcl
*tfplan*

*.tfvars
*.pem

# Ignore results of "helm dependency build"
# *.tgz
Chart.lock

# Ignore local values 
Azure/terraform/AKS/local
gcp/terraform/GKE/local
gcp/helm/charts/ingress-nginx-k2v/local