{{ $namespace := default dict .Values.namespace }}
{{ $global := default dict .Values.global }}
{{ $global_labels := default (list) $global.labels }}
{{ $labels := default (list) .Values.labels }}
{{ $global_annotations := default (list) $global.annotations }}
{{ $annotations := default (list) .Values.annotations }}
{{ $networkPolicy := default dict .Values.networkPolicy }}
{{ $ingress := default dict $networkPolicy.ingress }}
{{ $resource_annotations := default (list) $networkPolicy.annotations }}

{{ if $ingress.enabled | default false }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: fabric-monitor-np
  namespace: {{ default .Release.Name $namespace.name }}
  labels:
    app: fabric
    {{- range $label := $labels }}
    {{ $label.name }}: {{ $label.value }}
    {{- end }}
    {{- range $label := $global_labels }}
    {{ $label.name }}: {{ $label.value }}
    {{- end }}
  {{- if or $global_annotations $resource_annotations $annotations }}
  annotations:
    {{- range $annotation := $global_annotations }}
    {{ $annotation.key }}: {{ $annotation.value | quote }}
    {{- end }}
    {{- range $annotation := $resource_annotations }}
    {{ $annotation.key }}: {{ $annotation.value | quote }}
    {{- end }}
    {{- range $annotation := $annotations }}
    {{ $annotation.key }}: {{ $annotation.value | quote }}
    {{- end }}
  {{- end }}
spec:
  podSelector:
    matchLabels:
      {{- range $label := $global_labels }}
      {{ $label.name }}: {{ $label.value }}
      {{- end }}
      {{- range $label := $labels }}
      {{ $label.name }}: {{ $label.value }}
      {{- end }}
  ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            {{- range $key, $value := $ingress.allowedNamespaces }}
            {{ $key }}: {{ $value }}
            {{- end }}
        podSelector:
          matchLabels:
            {{- range $key, $value := $ingress.allowedPods }}
            {{ $key }}: {{ $value }}
            {{- end }}
      ports:
        - port: 7070
        - port: 7170
        - port: 9100
    {{- if $ingress.allowedIPs }}
    - from:
      {{- range $ingress.allowedIPs }}
      - ipBlock:
          cidr: {{ . }}
      {{- end }}
      ports:
        - port: 7070
        - port: 7170
        - port: 9100
    {{- end }}
    - ports:
        - protocol: TCP
          port: 3213
      from:
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/instance: ingress-nginx
    - ports:
        - protocol: TCP
          port: 3213
      from:
        - namespaceSelector:
            matchLabels:
              app: k2view-agent
    - ports:
        - protocol: TCP
          port: 3213
      from:
        - podSelector:
            matchLabels:
              job-name: fabric-deployer
{{ end }}
