# global
namespace:
  name: "space-tenant"

labels:
  - name: tenant
    value: my-tenant
  - name: space
    value: my-space

# app_name will be app lable and prefix for resources
app_name: "postgres"

# deployment.yaml
container:
  replicas: 1
  image:
    url: postgres:15.7

    repoSecret:
      name: "registry-secret"
      enabled: false
      dockerRegistry:
        auths:
          "docker.share.cloud.k2view.com":
            username: ""
            password: ""
  storage_path: "/opt/apps/pgsql/data/data/"

  resource_allocation:
    limits:
      memory: 4Gi
      cpu: '1'
    requests:
      memory: 1Gi
      cpu: '0.4'

affinity:
  type: none  # Options: affinity, anti-affinity, none
  label: 
    name: topology.kubernetes.io/zone
    value: region-a

# secrets.yaml
secrets:
- key: POSTGRES_USERNAME
  value: "postgres"
- key: POSTGRES_PASSWORD
  value: "postgres"

# ingress_np.yaml
networkPolicy:
  enabled: true

# service.yaml
service:
  port: 5432

# pvc.yaml
storage:
  class: regional-pd
  alocated_amount: 10Gi
