name: k2v-ingress
services:
  socat:
    container_name: socat
    image: alpine/socat
    pull_policy: ${INGRESS_PULL_POLICY}
    restart: always
    networks:
      - fab-net
    volumes:
      - ${SOCKET}:${SOCKET}:ro
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        until [[ -S ${SOCKET} ]]; do
          echo "Waiting for Docker socket..."
          sleep 2
        done
        exec socat tcp-listen:2375,fork,reuseaddr unix-connect:${SOCKET}
    healthcheck:
      test: ["CMD-SHELL", "socat /dev/null TCP4:localhost:2375 || exit 1"]
      interval: 15s
      timeout: 5s
      retries: 8
    security_opt:
      - "label=type:container_runtime_t"

  traefik:
    container_name: traefik
    image: traefik
    pull_policy: ${INGRESS_PULL_POLICY}
    depends_on:
      socat:
        condition: service_healthy
    restart: always
    networks:
      - fab-net
    ports:
      - ${INGRESS_HTTP_PORT}:80
      - ${INGRESS_HTTPS_PORT}:443
      - ${INGRESS_API_PORT}:8080
    volumes:
      - ./ssl-certs/:/etc/certs/:Z
      - ./tls-config.yaml:/etc/traefik/dynamic/tls-config.yaml:Z
    command:
      - "--api.insecure=true"
      - "--providers.file.filename=/etc/traefik/dynamic/tls-config.yaml"
      - "--providers.docker=true"
      - "--providers.docker.endpoint=tcp://socat:2375"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.web.address=:80"
      - "--entryPoints.websecure.address=:443"
      - "--entryPoints.websecure.http.tls=true"
    labels:
      - "k2v-ingress"

networks:
  fab-net:
    name: fab-net
    external: true
