# Default values for K2view agent.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

namespace:
  create: true
  name: "k2view-agent"

image:
  url: "docker.share.cloud.k2view.com/k2view/k2v-agent:latest"

  repoSecret:
    name: "registry-secret"
    enabled: false
    dockerRegistry:
      auths:
        "docker.share.cloud.k2view.com":
          username: ""
          password: ""

# Secrets used to config the agent
secrets:
  K2_MAILBOX_ID: ""
  K2_MANAGER_URL: "https://cloud.k2view.com/api/mailbox"
  kubeInterface: "https://kubernetes.default.svc"
  #kubeToken: ""
  #CLOUD: ""
  #REGION: ""
  #AWS_KEYSPACE_USER: ""
  #AWS_KEYSPACE_PASSWORD: ""
  SPACE_SA_ARN: ""

resources:
  requests:
    memory: 128Mi
    cpu: '0.1'
  limits:
    memory: 256Mi
    cpu: '0.4'

serviceAccount:
  # will create service account with cluster role and secret with tocken of this SA
  create: true
  # The name of the service account to use.
  name: "agent-sa"
  provider: "" #aws/gcp
  arn: ""
  project_id: ""

  # Role for SA
  role:
    name: "k2view-agent"
    rules:
      - apiGroups: [""]
        resources: ["namespaces"]
        verbs: ["create", "delete", "get"]
      - apiGroups: ["apps"]
        resources: ["deployments", "statefulsets"]
        verbs: ["create", "delete", "list", "get", "patch"]
      - apiGroups: ["batch"]
        resources: ["jobs", "jobs/status"]
        verbs: ["create", "delete", "get", "list"]
      - apiGroups: ["networking.k8s.io"]
        resources: ["ingresses", "networkpolicies"]
        verbs: ["create", "delete","get"]
      - apiGroups: [""]
        resources: ["pods"]
        verbs: ["delete", "list"]
      - apiGroups: [""]
        resources: ["configmaps", "secrets"]
        verbs: ["create", "delete", "list", "patch","get"]
      - apiGroups: [""]
        resources: ["services", "persistentvolumeclaims"]
        verbs: ["create", "delete", "get", "list"]
      - apiGroups: ["monitoring.coreos.com"]
        resources: ["podmonitors"]
        verbs: ["create", "delete"]
      - apiGroups: [""]
        resources: ["serviceaccounts"]
        verbs: ["create", "delete", "get", "list", "patch"]

